<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="logo-details d-flex align-items-center justify-content-center">
      <div (click)="toggleSidemenu()">
      </div>
    <div class="logo_name p-2">{{ (list$ | async)?.name }}</div>
    <div class="btn-group actions ml-2">
      <button type="button" class="mr-3 bg-white" (click)="edit()"><i class="fas fa-edit"></i></button>
      <button type="button" class="bg-white" (click)="delete()"><i class="far fa-trash-alt"></i></button>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex align-items-center ml-auto">
      <img src="/assets/profile_pic_temp.png" alt="Profile picture" id="profile_pic" class="img-fluid">
    </div>
  </div>
</nav>
