<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<button type="button" class="btn btn-success addBtn" (click)="add()"><i class="fas fa-plus"></i> Add new status</button>
<table class="table" *ngIf="tasks && tasks.length > 0">
  <thead>
  <tr>
    <th scope="col">Complete</th>
    <th scope="col">Name</th>
    <th scope="col">Actions</th>
    <th scope="col">Deadline</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let task of tasks" class="task col-12">
    <td class="checkbox" (click)="complete(task.id, task.complete)"><img src="assets/checked.svg" alt="Checked" *ngIf="task.complete"><img src="assets/unchecked.svg" alt="Unchecked" *ngIf="!task.complete"></td>
    <td>{{task.name}}</td>
    <td><span *ngIf="task.deadline">{{task.deadline}}</span><span *ngIf="!task.deadline">No deadline</span></td>
    <td class="actions">
      <button type="button" class="mr-3 bg-white" (click)="edit(task.id)"><i class="fas fa-edit"></i></button>
      <button type="button" class="bg-white" (click)="delete(task.id)"><i class="far fa-trash-alt"></i></button>
    </td>
  </tr>
  </tbody>
</table>
