<div class="form-wrapper">
  <div class="d-flex mb-4">
    <a class="addBtn" (click)="back()"><i class="fas fa-chevron-left"></i> Back</a>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
    {{errorMessage}}
  </div>
  <div class="alert alert-warning" role="warning">
    <p>Form Status: {{ taskForm.status }}</p>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="taskForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="deadline">Deadline</label>
      <input type="date" class="form-control" id="deadline" name="deadline" placeholder="Deadline" formControlName="deadline">
    </div>
    <div class="form-check mt-4 mb-4" *ngIf="isEdit">
      <input type="checkbox" class="form-check-input" id="complete" name="complete" formControlName="complete">
      <label for="complete" class="form-check-label">Complete</label>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="isAdd" [disabled]="!taskForm.valid || isSubmitted">Add</button>
    <button type="submit" class="btn btn-primary" *ngIf="isEdit" [disabled]="!taskForm.valid || isSubmitted">Save</button>
  </form>
</div>
