.wrapper{
  &.open{
    :host{
      margin-left: 0;
    }
  }

  &.closed{
    :host{
      margin-left: -250px;
    }
  }
}

:host(.wrapper-sidemenu) {
  overflow-y: visible;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  background: #000307;
  z-index: 99;
  transition: all 0.5s ease;
  min-height: 100vh;

  .logo-details {
    height: 60px;

    .icon {
      background: -webkit-linear-gradient(135deg, rgba(0,94,239,1) 0%, rgba(0,162,255,1) 87%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2rem;
    }

    .logo_name {
      color: #fff;
      font-size: 2rem;
      font-weight: 600;
    }
  }

  ul{
    margin-top: 5rem;

    a{
      display: block;
      color: white;
      width: 100%;
      padding: 0.75rem 2rem;
      border-radius: 0 !important;
      margin: 1rem 0;

      &:hover{
        text-decoration-line: none;
      }

      &.selected{
        background-color: #00255E;
      }
    }
  }

  ul#custom{
    a{
      padding: 1rem 2rem;
    }
  }
}

button{
  border: none !important;
}

.new_list_wrapper{
  margin: 1.75rem 2rem;
  cursor: pointer;

  .new_list{
    width: 100%;
    background: none;
    border: none;
    color: white;
    padding-left: 0.4rem;

    &::placeholder{
      color: white;
    }

    &:focus-visible{
      outline: none;
    }
  }
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: right;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 1;
  pointer-events: auto;
}
