<div class="logo-details d-flex align-items-center justify-content-center mt-3">
  <i class="fas fa-tasks icon"></i>
  <div class="logo_name p-2">To Do</div>
</div>
<ul class="d-none">
  <li>
    <a [routerLink]="['/lists/today']" routerLinkActive="selected">
      <img src="assets/today.svg" alt="today" class="mr-4">
      <span class="links_name">Today</span>
    </a>
  </li>
  <li>
    <a [routerLink]="['/lists/this-week']" routerLinkActive="selected">
      <img src="assets/week.svg" alt="today" class="mr-4">
      <span class="links_name">This week</span>
    </a>
  </li>
  <li>
    <a [routerLink]="['/lists/important']" routerLinkActive="selected">
      <img src="assets/important.svg" alt="today" class="mr-4">
      <span class="links_name">Important</span>
    </a>
  </li>
  <li>
    <a [routerLink]="['/lists/trash']" routerLinkActive="selected">
      <img src="assets/trash.svg" alt="today" class="mr-4">
      <span class="links_name">Trash</span>
    </a>
  </li>
</ul>

<ul id="custom">
  <li *ngFor="let list of (lists$ | async)">
    <a [routerLink]="['/lists/', list.id]" routerLinkActive="selected" (click)="showTasks(list.id)">
      <img src="assets/stream.svg" alt="today" class="mr-4" *ngIf="list.category == '' || list.category == 'blue' || list.category == null">
      <img src="assets/stream-red.svg" alt="today" class="mr-4" *ngIf="list.category == 'red'">
      <img src="assets/stream-green.svg" alt="today" class="mr-4" *ngIf="list.category == 'green'">
      <img src="assets/stream-purple.svg" alt="today" class="mr-4" *ngIf="list.category == 'purple'">

      <span class="links_name">{{ list.name }}</span>
    </a>
  </li>
  <li>
    <button (click)="add()" class="bg-transparent">
      <div class="d-flex new_list_wrapper">
        <img src="assets/plus.svg" alt="today" class="mr-4">
        <p class="text-white">New list</p>
      </div>
    </button>
  </li>
</ul>
