<div class="sidebar">
  <div class="logo-details d-flex align-items-center justify-content-center mt-3">
    <i class="fas fa-tasks icon"></i>
    <div class="logo_name p-2">To Do</div>
  </div>
  <ul class="nav-list">
    <li>
      <a href="#">
        <span class="fa-stack fa-5x">
          <i class="fas fa-square fa-stack-10x" style="color: blue"></i>
          <i class="fas fa-terminal fa-stack-2x" ></i>
        </span>
        <span class="links_name">Today</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-user'></i>
        <span class="links_name">This week</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-chat'></i>
        <span class="links_name">Important</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-chat'></i>
        <span class="links_name">Trash</span>
      </a>
    </li>
  </ul>
</div>
