<div class="logo-details d-flex align-items-center justify-content-center mt-3">
  <i class="fas fa-tasks icon"></i>
  <div class="logo_name p-2">To Do</div>
</div>
<ul>
  <li>
    <a [routerLink]="['/task/today']" routerLinkActive="selected">
      <img src="assets/today.svg" alt="today" class="mr-4">
      <span class="links_name">Today</span>
    </a>
  </li>
  <li>
    <a [routerLink]="['/task/this-week']" routerLinkActive="selected">
      <img src="assets/week.svg" alt="today" class="mr-4">
      <span class="links_name">This week</span>
    </a>
  </li>
  <li>
    <a [routerLink]="['/task/important']" routerLinkActive="selected">
      <img src="assets/important.svg" alt="today" class="mr-4">
      <span class="links_name">Important</span>
    </a>
  </li>
  <li>
    <a [routerLink]="['/task/trash']" routerLinkActive="selected">
      <img src="assets/trash.svg" alt="today" class="mr-4">
      <span class="links_name">Trash</span>
    </a>
  </li>
</ul>

<ul id="custom">
  <li *ngFor="let list of (lists$ | async)">
    <a [routerLink]="['/task/', list.id]" routerLinkActive="selected" (click)="showTasks(list.id)">
      <img src="assets/stream.svg" alt="today" class="mr-4">
      <span class="links_name">{{ list.name }}</span>
    </a>
  </li>
  <li>
    <div class="d-flex new_list_wrapper">
      <img src="assets/plus.svg" alt="today" class="mr-4">
      <form (ngSubmit)="onSubmit()" [formGroup]="listForm">
        <input class="new_list" placeholder="New list" type="text" formControlName="name" id="name"/>
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
      </form>
    </div>
  </li>
</ul>
