<div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
  {{errorMessage}}
</div>
<div class="alert alert-warning" role="warning">
  <p>Form Status: {{ taskForm.status }}</p>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="taskForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name" formControlName="name">
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select id="category" name="category" formControlName="category">
      <option value="blue">Default (blue)</option>
      <option value="red">Red</option>
      <option value="green">Green</option>
      <option value="purple">Purple</option>
    </select>  </div>
  <button type="submit" class="btn btn-primary" *ngIf="isAdd" [disabled]="!taskForm.valid || isSubmitted">Add</button>
  <button type="submit" class="btn btn-primary" *ngIf="isEdit" [disabled]="!taskForm.valid || isSubmitted">Save</button>
</form>
